<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <title>Home</title>
</head>
<body>
    <!-- HEADER -->
    <header class="main-header">
        <hgroup class="main-header-top-bar">
            <!-- LOGO -->
            <a href="/" class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>

            <!-- BARRA DE BUSQUEDA -->
            <form action="/" method="POST" class="search-bar">
                <input type="search" name="searchbar" placeholder="Buscar productos, marcas y más" class="search-input">

                <a class="search">
                    <i class="fas fa-search"></i>
                </a>
            </form>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </hgroup>
        
        <!-- MENÚ DE NAVEGACIÓN -->
        <nav class="main-navbar">
            <ul class="site-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="login-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <a class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>

    <main class="container">
        <!-- BANNER -->
        <img src="/images/img-home-banner.jpg" alt="Banner Mercado Liebre" class="banner">
        
        <!-- PRODUCTOS -->
        <section>
            <h2 class="titular">Basado en tu última visita</h2>

            <div class="article-container">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$6.770</p>

                            <p class="descuentos">40% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>Cafetera Moulinex</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$230.000</p>

                            <p class="descuentos">20% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>MacBook Pro 2019</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$70.500</p>

                            <p class="descuentos">10% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>Samsung Galaxy S10</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$23.200</p>

                            <p class="descuentos">5% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>SmartTv Samsung 43 pulgadas</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>
            </div>
        </section>

        <section>
            <h2 class="titular">Ofertas</h2>
            
            <div class="article-container">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$6.770</p>

                            <p class="descuentos">40% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>Cafetera Moulinex</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$230.000</p>

                            <p class="descuentos">20% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>MacBook Pro 2019</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$70.500</p>

                            <p class="descuentos">10% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>Samsung Galaxy S10</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">

                    <section class="producto-elementos">
                        <i class="fas fa-truck"></i>

                        <div class="precios-descuentos">
                            <p class="precios">$23.200</p>

                            <p class="descuentos">5% OFF</p>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h3>SmartTv Samsung 43 pulgadas</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet, tenetur laborum, perspiciatis aspernatur deserunt, nemo sapiente nulla dolore velit unde at ratione ullam expedita animi.</p>
                    </section>
                </article>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>

                <h2>Pagá con tarjeta o en efectivo</h2>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <i class="fas fa-gift"></i>

                <h2>Envío gratis desde $ 2.500</h2>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>

                <h2>Seguridad, de principio a fin</h2>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>