<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <!-- HEADER -->
    <header class="main-header">
        <hgroup class="main-header-top-bar">
            <!-- LOGO -->
            <a href="/" class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>

            <!-- BARRA DE BUSQUEDA -->
            <form action="/" method="POST" class="search-bar">
                <input type="search" name="searchbar" placeholder="Buscar productos, marcas y más" class="search-input">

                <a class="search">
                    <i class="fas fa-search"></i>
                </a>
            </form>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </hgroup>
        
        <!-- MENÚ DE NAVEGACIÓN -->
        <nav class="main-navbar">
            <ul class="site-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="login-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <a class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>   
    </header>

    <main class="container">
        <!-- FORMULARIO -->
        <form action="#" method="POST">
            <!-- NOMBRE DE USUARIO -->
            <fieldset>
                <input type="text" name="nombre" placeholder="Nombre de usuari@" class="control">
            </fieldset>

            <!-- CONTRASEÑA -->
            <fieldset>
                <input type="password" name="nombre" placeholder="Contraseña" class="control">
            </fieldset>

            <!-- BOTÓN -->
            <fieldset>
                <button type="submit" class="form-button">Enviar</button>
            </fieldset>
        </form>
    </main>

    <!-- FOOTER -->
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>

                <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <i class="fas fa-gift"></i>

                <h2><strong>Envío gratis desde $ 2.500</strong></h2>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>

                <h2><strong>Seguridad, de principio a fin</strong></h2>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>