/***********************    ETIQUETAS   ***********************/

main > section {
    margin-bottom: 40px;
}

article {
    margin-bottom: 10px;
    height: 100%;
    padding: 0px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: box-shadow 0.5s;
}

main article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

img {
    width: 100%;
}

/* Icono de envio */

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

/* Animación */
@keyframes rotar {
    100% {
        transform: rotateZ(360deg);
    }
}

article:hover > .producto-elementos i {
    animation: rotar 0.5s;
}

p {
    font-size: 12px;
}

/***********************    CLASES   ***********************/

.banner {
    margin-bottom: 40px;
}

.titular {
    font-size: 24px;
    margin-bottom: 20px;
}

.producto-elementos {
    border-top: solid 1px #ebebeb;
    padding: 20px 0px;
    position: relative;
}

.precios-descuentos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.precios {
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    text-align: center;
}

.descripcion {
    visibility: hidden;
    height: 0vh;
    overflow: hidden;
    transition: all 0.5s;
}

.descripcion p {
    font-size: 16px;
    margin-top: 15px;
}

article:hover > .descripcion {
    visibility: visible;
    height: 15vh;
    overflow: scroll;
}

/***********************    MEDIA QUERIES    ***********************/

/*** TABLETS ***/

@media (min-width: 361px) {

    .article-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article-container article {
        flex-basis: 45%;
    } 
}

/*** DESKTOP ***/

@media (min-width: 769px) {

    .article-container article {
        flex-basis: 22%;
    }
}