/* FORMULARIO */

.container fieldset {
    border: none;
    margin-bottom: 15px;
}

.control {
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

/* BOTONES */

.form-button {
    background-color: #1259c3;
    color: #fff;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #0022AA;
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
    footer {
        position: absolute;
        bottom: 0;
    }
    
    .container fieldset {
        width: 60vw;
        margin: 15px auto;
    }
}